.happy {
    width: 90%;
    height: 100%;
}

.happy_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;

    p {
        margin-bottom: 10%;
        font-weight: bold;
    }
}

.hidden {
    display: none;
}

.regame {
    background: rgb(37, 37, 250);
    border-radius: 5vw;
    border: none;
    margin-top: 1%;
    padding: 0.5vw;
    width: 10vw;
    color: white;

    &:hover {
        cursor: pointer;
    }
}